body {
    font-family: 'Roboto', sans-serif;
}

.nav{
    display: flex;
    align-items: center;
    background-color: rgb(94, 93, 93);
    justify-content: space-between;
}


.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}


.nav-title {
        margin-left: 20px;
}