.container{
    width: 950px;
    background-color: silver;
    margin: 20px;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-inline-end: 1%;
    padding-inline-start: 1%;
    justify-content: space-around;
}
.top-nav {
    height: 150px;
    width: 920px;
    background-color: green;
    margin: 20px 20px 20px 20px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    justify-content: right;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    justify-content: left;
    padding-top: 2%;
    padding-right: 2%;
}

.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    justify-content:left;
}

#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 4%;
}

.row { 
    display: flex;
    justify-content: space-around;
}